@{
    ViewBag.Title = "Home Page";
}

Los casos mas recientes...
<div class="jumbotron">
    <div id="map"></div>
</div>

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-6">
                <h3>Mas Recientes :  </h3>
            </div>
            @if (ApplicationUserManager.IsSignedIn)
            {
                <div class="col-6">
                    <a href="@Url.Action("Add","Main")" class="btn btn-primary float-right">Agregar <span class="material-icons font-size-unset">add</span></a>
                </div>
            }
        </div>
        @*list of items*@
        <div class="item-container">
            <div class="row">
                <div>
                    <img />
                    <div>Title</div>
                    <div>Comments</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    require(['app'], function (app) {

        $(() => {

            $('#Search').click(() => {
                $('#SearchBar').slideToggle();
            });

        });

        app.Start({});

    });

</script>