@{
    ViewBag.Title = "K hub";
}

@*<div><prism-editor></prism-editor></div>*@

    <prism-editor :code="code" language="js"></prism-editor>

@section scripts {

    <script>
        //start main app
        let controller = {
            components: {
            },
            data: {},
            methods: {
            },
            mounted: function () {

            },
            created: function () {

            }
        };
        console.log('calling vue app');
        console.log(VueApp);
        VueApp.Start(controller);
    </script>

}