@{
    ViewBag.Title = "K hub";
}

<div><code-editor></code-editor></div>

@section scripts {

    <script>
        //start main app
        let controller = {
            components: {
                'code-editor': window.VueApp.Components.CodeEditor
            },
            data: {},
            methods: {
            },
            mounted: function () {

            },
            created: function () {

            }
        };
        console.log('calling vue app');
        console.log(VueApp);
        VueApp.Start(controller);
    </script>

}