################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KHub/App/node_modules
/KHub/App/dist/bundle_2800df6b8d87c726fd90.js
/KHub/bin/Debug/netcoreapp3.1
/KHub/obj
