
<header class="container">
    <div class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                @if (ApplicationUserManager.IsSignedIn)
                {
                    <a class="text-muted" href="#">
                        <span class="material-icons">
                            chat
                        </span>
                    </a>
                    <a class="text-muted" href="#">
                        <span class="material-icons">
                            new_releases
                        </span>
                    </a>
                }
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="#"><h1 class="page-title"><strong>La Lista Negra</strong></h1></a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="#" aria-label="Buscar" id="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
                </a>
                @if (ApplicationUserManager.IsSignedIn)
                {
                    <a class="btn btn-sm btn-outline-secondary" href="#">
                        Cuenta
                        <span class="material-icons font-size-unset">
                            account_circle
                        </span>
                    </a>
                }
                else
                {
                    <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("Login","Account")">
                        Registrarte
                        <span class="material-icons font-size-unset">
                            account_circle
                        </span>
                    </a>
                }
            </div>
        </div>
    </div>
    <hr />
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="#">World</a>
            <a class="p-2 text-muted" href="#">U.S.</a>
            <a class="p-2 text-muted" href="#">Technology</a>
            <a class="p-2 text-muted" href="#">Design</a>
            <a class="p-2 text-muted" href="#">Culture</a>
            <a class="p-2 text-muted" href="#">Business</a>
            <a class="p-2 text-muted" href="#">Politics</a>
            <a class="p-2 text-muted" href="#">Opinion</a>
            <a class="p-2 text-muted" href="#">Science</a>
            <a class="p-2 text-muted" href="#">Health</a>
            <a class="p-2 text-muted" href="#">Style</a>
            <a class="p-2 text-muted" href="#">Travel</a>
        </nav>
    </div>
    <hr />
    <div class="row" id="SearchBar" style="display:none">
        <div class="col-lg-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <span class="material-icons font-size-unset">
                            search
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <hr />
</header>
