@model ListaNegra.Models.PostModel

@{
    ViewBag.Title = Model.Title;
}

<h2>@ViewBag.Title</h2>


<div>

    DISPLAY POST GOES HERE

    @Model.Title

    @Model.Description

    @Model.Tags

</div>




<script>
    require(['app'], (app) => {

        let controller = {
            components: {},
            data: {},
            methods: {
                initMap: function () {

                }
            },
            mounted: function () {
                this.initMap();
            }

        };

        app.Start(controller);
        console.log('App Started');
    });
</script>
