/*utilities*/
.font-size-unset {
  font-size: unset !important; }

.border-right-2-white {
  border-right: 2px solid white; }

footer {
  background-color: #1D2124;
  color: white;
  font-weight: bolder;
  height: 300px; }

footer a {
  color: white; }

footer a:hover {
  color: lightgray; }

.page-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic; }

.item-container {
  height: 500px; }

/*views*/
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */ }
