
@{

    ViewBag.Title = "Reset Password";

}

<div class="container">

    <div class="p-5">
        <h3>Reset Password</h3>

        @using (Html.BeginForm("ResetPassword", " User"))
        {

            <small>Introduce your email with the tied account to reset your password</small>
            @Html.TextBox("Email", null, "", new { type = "Email", @class = "form-control", required = "required", v_model="email" })
            <span v-if="!!!validation['Email.Required']" class="text-danger">A valid email is required</span>
            <br />
            <div class="text-right">
                <v-btn color="primary" @@click="Submit">
                    Send Email
                </v-btn>
            </div>

        }
    </div>
</div>

@section scripts{


<script>
        //start main app
        let controller = {
            components: {
            },
            data: {
                validation: {
                    'Email.Required' : true
                },
                email : '',
            },
            methods: {
                Submit: function () {

                    this.validation = {
                        'Email.Required' : !!this.email && this.email.length > 5 && this.IsValidEmail(this.email)
                    };

                    console.log(!!this.email);
                    console.log(this.email.length > 5);
                    console.log(re.test(this.email));

                    let valid = this.Validate(this.validation);

                    if (!valid) {
                        return;
                    }

                }
            },
            mounted: function () {
            },
            created: function () {
            }
        };
        VueApp.Start(controller);
</script>

 }


