@using Newtonsoft.Json;
@model KHub.ViewModels.PostDetailViewModel

@{
    ViewBag.Title = "K hub";
}

<div class="index-container">

    <div class="pt-3">
        <h2>@Model.Title</h2>
    </div>
    <hr />
    <p>
        <h3>Description:</h3>
        <div class="bordered" style="height:300px">
            @Html.Raw(@Model.Description)
        </div>
    </p>
    <h3>Code:</h3>
    <prism-editor language="js" :code="code" :line-numbers="true"></prism-editor>
    <hr />
    <small>Author : </small>
</div>


@section scripts {


    <script>
        //start main app
        let controller = {
            components: {
                'prism-editor' : window.VueApp.Components.prismEditor
            },
            data: {
                code : `@Html.Raw(Model.Code)`
            },
            methods: {
            },
            mounted: function () {

            },
            created: function () {

            }
        };
        //console.log('calling vue app');
        //console.log(VueApp);
        VueApp.Start(controller);
    </script>

}