footer {
    background-color: #1D2124;
    color: white;
    font-weight: bolder;
    height: 300px;
}

footer a {
    color: white;
}

footer a:hover {
    color: lightgray;
}

.page-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

.item-container {
    height: 500px;
}